
<form #form="ngForm" (ngSubmit)="findPost()">
  <select [(ngModel)]="id" name="post">
    <option *ngFor="let post of posts" [value]="post.id">post {{post.id}}</option>
  </select>
  <button>Find</button>
</form>

<app-post [post]="post" *ngIf="post"></app-post>
<hr>
<form (ngSubmit)="findComment()">
  <select [(ngModel)]="CommentId" name="comment" >
    <option *ngFor="let comment of comments" [value]="comment.id">comment {{comment.id}}</option>
  </select>
  <button>Find</button>
</form>

<app-comment [comment]="comment" *ngIf="comment"></app-comment>
